$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-drag: "\e916";
$icon-map: "\e025";
$icon-streetsign: "\e029";
$icon-gears: "\e02b";
$icon-tools: "\e034";
$icon-dial: "\e048";
$icon-chat: "\e900";
$icon-hamburger: "\e901";
$icon-home: "\e902";
$icon-pin: "\e903";
$icon-search: "\e904";
$icon-user: "\e905";
$icon-users: "\e906";
$icon-bell: "\e907";
$icon-chevron-down: "\e908";
$icon-find: "\e909";
$icon-settings: "\e90a";
$icon-sliders: "\e90b";
$icon-map-pin: "\e90c";
$icon-edit: "\e90d";
$icon-log-out: "\e90e";
$icon-send: "\e90f";
$icon-village: "\e910";
$icon-off-road: "\e911";
$icon-nature: "\e912";
$icon-desert: "\e913";
$icon-city: "\e914";
$icon-image: "\e917";
$icon-repeat: "\e918";
$icon-square: "\e919";
$icon-x: "\e91a";
$icon-trash: "\e91b";
$icon-create: "\e915";
$icon-plus: "\e91c";

